@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Zen+Kurenaido&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Zen Kurenaido", sans-serif;
  scroll-behavior: smooth;
}

.App {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
  overflow: hidden;
  .focus {
    padding: 2px 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: bigger;
  }
  .button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.25em;
    padding: 0 10px;
    cursor: pointer;
    max-height: 40px;
  }
  header {
    font-family: "Coda", cursive;
    padding: 10px;
    margin: auto;
    h1 {
      text-align: center;
      text-shadow: 5px 5px #2b5883;
    }
    small {
      font-size: 1.5em;
    }
  }
  main {
    background: unset;
    margin: auto;
    padding: 0 5vw;
    .mainButtons {
      display: flex;
      justify-content: center;
    }
    .animationExample {
      display: flex;
      width: 90vw;
      margin: auto;
      justify-content: center;
      line-height: 1;
      align-items: center;
      .divToMove {
        width: 100px;
        height: 100px;
        font-size: 100px;
        color: rgb(49, 23, 23);
        font-weight: bold;
        margin: 0 10px;
      }
      .amuseAcat {
        width: 200px;
        height: 200px;
        background-image: url("./assets/eyelessCat.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 40px;

        &-eyes {
          margin: auto;
          width: 140px;
          height: 140px;
          margin-top: 24%;
          display: flex;
          justify-content: space-around;
          margin: 50px auto 0;
          width: 150px;
          height: 50px;
          &_single {
            width: 50px;
            background-image: url("./assets/128px-Eye-Black.png");
            background-size: 100%;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .copernicus {
        width: 300px;
        height: 300px;
        background-image: url("./assets/sun.png");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        &-planet {
          width: 80px;
          height: 80px;
          background-image: url("./assets/planet.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .door {
        width: 142px;
        height: 250px;
        border: 1px solid transparent;
        border-radius: 20px;
        background-image: url("./assets/door.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: green;
        z-index: 2;
        &-snowman {
          font-size: 145px;
          margin-left: -140px;
          transform: rotate(45deg);
        }
      }
    }
  }
  footer {
    padding: 10vh 0 5vh;
    width: 100%;
    text-align: center;
    a {
      all: unset;
      cursor: pointer;
    }
  }
}
